<p>Menu</p>
<ul>
    <li><a routerLink="/student" routerLinkActive="active">StudentDetails</a></li>
    <li><a routerLink="/new" routerLinkActive="active">AddStudent</a></li>
    <li><a routerLink="/list" routerLinkActive="active">Student List</a></li>
    <!-- <li><a routerLink="/teacher" routerLinkActive="active">TeacherDetails</a></li>
    <li><a routerLink="/fees" routerLinkActive="active">FeeDetails</a></li>
    <li><a routerLink="/branch" routerLinkActive="active">BranchDetails</a></li>
    <li><a routerLink="/emergency" routerLinkActive="active">Emergency Contacts</a></li> -->
</ul>